
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans|Tangerine');


// Colors
// Break Points
// Fonts Setting


// Descriptive color variables
$nearBlack       : rgba(50,50,50,0.8);
$mediumGrey      : rgba(200,200,200,0.7);
$lightGrey       : rgba(225,225,225,0.9);
$nearWhite       : rgba(245,245,245,0.9);

$gossamer        : rgba(50,50,50,0.3);
$whiteGossamer   : rgba(250,250,250,0.3);

//opaque colors
$black					 : rgba(0,0,0,0.7);
$dodger					 : rgba(30,144,255,0.7);
$navy						 : rgba(0,0,128,0.7);
$aqua						 : rgba(0,255,255,0.7);
$blue						 : rgba(0,0,255,0.7);
$sky						 : rgba(0,191,255,0.7);
$royal					 : rgba(65,105,225,0.7);
$indigo					 : rgba(75,0,130,0.7);
$magenta				 : rgba(255,0,255,0.7);
$pink						 : rgba(255,20,147,0.7);
$red						 : rgba(255,0,0,0.7);
$orangered			 : rgba(255,69,0,0.7);
$yellow					 : rgba(255,255,0,0.7);

$lightGreen			 : rgba(68,225,193,0.7);
$lightBlue			 : rgba(81,221,252,1);

$darkTurq				 : rgba(18,133,136,0.7);





$g12color:#80e8d1;
$g6color:#2e8aa5;
$g4color:#7ee6fd;
$g3color:#deb2ee;
$g5color:#88d9a0;







// Funcitonal color variables
$color-link                  : $lightBlue;
$color-linkHover             : $nearWhite;
$background-linkHover  			 : $lightGreen;

$color-p   									 : $nearBlack;
$color-heading   						 : $nearBlack;

$background-header    		   : $lightGrey;
$background-headerLink 			 : $nearWhite;
$background-avatar   			   : $lightBlue;

$background-contact   		   : $nearWhite;
$background-footer    		   : $nearWhite;

$color-hr                    : $lightBlue;

$shadow                      : $gossamer;
$whiteShadow                 : $whiteGossamer;


// Media Query Breakpoints
$tablet    : '(min-width: 768px)';
$desktop   : '(min-width: 1024px)';



// Global Fonts Setting
$stack-roboto: 'Open Sans', sans-serif;
$stack-barrio: 'Josefin Slab', serif;
$stack-raleway: 'Tangerine', cursive;




// Functional Font Variables
$headings    : $stack-raleway;
$plainText   : $stack-roboto;
$linkText   : $stack-barrio;