$buttonsMapping: (
	default	: $lightBlue,
	success	: $lightGreen,
	error		: $red,
	warning	: $black,
	info		: $pink
);

@each $el, $color in $buttonsMapping {
	.btn--#{$el} {
		display: block;
		text-transform: uppercase;
		color: white;
		background: #{$color};
		width: 95%;
		padding: 10px;
		margin: 10px auto;
		border-radius:10px;
		transition: all .3s;
		font-size:10px;
		line-height:20px;
		&:hover {
			opacity: 1;
			color: $black;
		}
		
		@include tablet {
			display: inline-block;
			flex: 5;
			max-width: 125px;
		}
	}
}

.grid__col--12 {
	@include tablet {
		@include flexed(flex, row wrap, space-around);
	}
}