//@mixin flexed($flex, $wrap, $justify)
.grid__row {
	@include tablet {
		@include flexed(flex, row wrap, space-around);
	}
}
	
@for $i from 1 through 12 {
	.grid__col--#{$i} {	
		margin: 25px 10px;
		padding: 15px;
		overflow: hidden;
		@include tablet { 
			flex: #{$i};
			max-width: calc((#{$i}/12)*100%);
		}
	}	
}     





$myMap: (
	1: $lightGreen,
	2: $black,
	3: $g3color,
	4: $g4color,
	5: $g5color,
	6: $g6color,
	7: $orangered,
	8: $sky,
	9: $indigo,
	10: $darkTurq,
	11: $blue,
	12: $g12color
);

@each $num, $color in $myMap {
	.grid__col--#{$num}.theme__colors {
		background: #{$color};
				border-radius: 10px;

		@extend %radBox;
	}
}
	
.centered {
	text-align: center;
}